/* 
 * Main column width
 * This changes it from the default 580px to 720px
 */
.wp-block {
    max-width: 90%!important;
}

/* 
 * Width of "wide" blocks
 * This changes it from the default 1080px to 1280px
 */
.wp-block[data-align="wide"] {
    max-width: 1280px;
}